{% extends "base.html.twig" %}

{% block title %}
	{{site}}
{% endblock %}

{% block body %}
	<h2>Dashboard</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Username</th>
				<th>Roles</th>
				<th>Bookings</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{user.username}}</td>
					<td>
						{{user.roles|join(' | ')}}
					</td>
					<td>
						{% for deal in user.Booked %}
							{{deal.name}}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
